{
  "parser": "babel-eslint",
  "extends": ["semistandard", "prettier", "prettier/standard"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "space-before-function-paren": [0],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
