.c-skip-to-content {
    background: $color-brand;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 30px;
    font-size: rem(16px);
    font-weight: $font-weight-strong;
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    transition: $transition-default;

    &:active,
    &:focus,
    &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        z-index: 300;
    }
}