/**
 * Default helpers for text colors. Feel free to create new ones or place
 * project specitic text colors directly to the rules in _style.scss.
 */

@mixin text-color-dark {
    color: $color-text-dark;

    h1, h2, h3, h4, h5, h6 {
        color: $color-heading-dark;

        a {
            color: inherit;

            &:hover {
                color: $color-link;
            }
        }
    }

    ul, ol, p, blockquote {
        a:not(.c-button):not(.c-text-button):not(.inherit-color) {
            color: $color-link;

            &:hover {
                color: $color-link-hover;
            }
        }

        a.inherit-color {
            color: inherit;

            &:hover {
                color: $color-link;
            }
        }
    }
}

@mixin text-color-light {
    color: $color-text-light;

    h1, h2, h3, h4, h5, h6 {
        color: $color-heading-light;

        a {
            color: inherit;

            &:hover {
                color: $color-link-light;
            }
        }
    }

    ul, ol, p, blockquote {
        a:not(.c-button):not(.c-text-button):not(.inherit-color) {
            color: $color-link-light;

            &:hover {
                color: $color-link-light-hover;
            }
        }

        a.inherit-color {
            color: inherit;

            &:hover {
                color: $color-link-light;
            }
        }
    }
}